

body{
  padding-left: 100px;
  padding-right: 100px;
}


.main-div{
  background-image: url('../images/backgrounds/welcome.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  text-align: center;
  padding-top:140px; 
  font-weight: bold;
  margin-left: 14px;
  margin-right: 14px;
  font-family: cursive;
}
.abouts{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: cursive;
    font-weight: bold;
  }
  .abouts h2{
      font-weight: bolder;
  }


#click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 20px; 
    
    
  }
  #click {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
     40% {
      transform: translateY(-34px);
    }
    60% {
      transform: translateY(-23px);
    } 
  }

  .services{
    text-align: center;
    background-image: url("../images/backgrounds/13.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:cursive;
    font-size: 17px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 14px;
    margin-right: 14px;
  }
  .services h2{
      font-weight: bolder;
  }
  .whatwedo{
    font-family: 'Quattrocento', serif;
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela', serif;
  }
  
  .tle{
    font-size: medium;
    font-weight: bold;
  }
  #portfolio{
    display: flex;
    flex-wrap: wrap;
    padding-left:14px;
    padding-right:12px;
    
  }
  col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: cursive;
  }
  .col-md-3 img{
    width: 200px;
    margin:10px;
    padding-left:9px;
  }
  #portfolio{
    margin-left:10%;
    margin-right: 10%; 
  }
  .contact{
    background-image: url('../images/backgrounds/23.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color:black;

    
  }

  .contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:cursive;
  }